@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.app {
  background-color: #f4f1de;
}

header {
  background-color: #778da9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.25rem;
}

header h1 {
  color: #0d1b2a;
}

header img {
  width: 3.5rem;
}

main {
  padding: 2rem;
}

.add-to-dos {
  display: grid;
  place-items: center;
  padding: 2rem;
  width: 100%;
  max-width: 575px;
}

.display-to-dos {
  height: 63.8vh;
}

.display-to-dos,
.other-options {
  padding: 0rem 2rem;
  width: 100%;
  max-width: 575px;
}

.to-do-input {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.to-do-input input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

ul {
  list-style-type: none;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

ul li input {
  margin-right: 0.5rem;
  cursor: pointer;
}

.other-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  width: 8rem;
  height: 2rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f1faee;
  color: #333;
}

select:hover {
  border-color: #888;
}

select:focus {
  outline: none;
  border-color: #3d5a80;
  box-shadow: 0 0 5px rgba(61, 90, 128, 0.5);
}
