@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scrollbar-width: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #4b5945;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 12vh;
}

header h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

main {
  display: grid;
  place-items: center;
  height: 76vh;
  overflow: scroll;
}

.add-form-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000007a;
  height: 100%;
  z-index: 100;
  width: 100%;
}

.add-expense {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #91ac8f;
  padding: 1rem;
  width: 100%;
  max-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form h2 {
  color: #fff;
  text-align: center;
}

form input,
select {
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

form button,
.add-expense > button {
  padding: 0.5rem;
  background-color: #4b5945;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #72bf78;
  }
}

.add-expense > button {
  width: 100%;

  &:hover {
    background-color: #ff4545;
  }
}

table {
  width: 100%;
  padding: 1rem;
}

th,
td {
  text-align: left;
  border: 0.025rem solid #000;
  padding: 0.25rem;
}

th span {
  cursor: pointer;
}

footer {
  padding: 1rem;
  position: fixed;
  height: 12vh;
  bottom: 0;
  left: 0;
  background-color: #4b5945;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

footer .buttons button {
  font-weight: 500;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #4b5945;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.filters select {
  border-radius: 0.5rem;
  color: #4b5945;
}

@media only screen and (min-width: 575px) {
  header {
    height: 8vh;
  }

  main {
    height: 84vh;
  }
  footer {
    height: 8vh;
  }
}
