@import url(https://fonts.googleapis.com/css?family=Poppins:300,300italic,regular,600,600italic,700,800,900);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  background: rgb(23, 16, 142);
  background: linear-gradient(
    90deg,
    rgba(23, 16, 142, 1) 0%,
    rgba(54, 109, 209, 1) 35%,
    rgba(14, 132, 156, 1) 100%
  );
}

header {
  display: grid;
  grid-template-columns: 3fr 4fr;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.75rem 0.25rem;
  position: fixed;
  z-index: 99;
  box-shadow: 0px 0px 12px #ffffff;
  backdrop-filter: blur(12px) saturate(200%);
  -webkit-backdrop-filter: blur(12px) saturate(200%);
  background-color: rgba(63, 148, 202, 0.49);
  border-radius: 0px 0px 12px 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 100%;
}

.logo img {
  width: 35%;
}

.search_box {
  display: flex;
  justify-content: end;
  align-items: center;
}

.search_box input {
  width: 100%;
  height: 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  padding: 0.5rem;
  background: #eef4fe;
  font-size: 1rem;
  font-weight: 300;
}

.search_box svg {
  background: #366dd1;
  fill: #ffffff;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  border-left: 1px solid #366dd1;
}

main {
  padding: 1rem 0.75rem;
}

@media only screen and (min-width: 625px) {
  header {
    grid-template-columns: 2fr 5fr;
  }

  .logo img {
    width: 15%;
  }

  .search_box input {
    width: 50%;
  }
}
